<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar--first">
                <div class="navbar__address"></div>
                <div class="navbar__login"></div>
            </div>
            <div class="navbar--second">
                <div class="navbar__logo"></div>
                <div class="navbar__cart"></div>

            </div>
        </div>
        <div class="campaign campaign--gutter">
            <div class="campaign__poster"></div>
            <div class="campaign__poster"></div>
            <div class="campaign__poster"></div>
        </div>
    </div>
</body>

</html>